{{ partial "header.html" . }}


<main class="content" role="main">

  <article class="article">
  
    <div class="article-content">
      <p>These are lessons and other resources for teaching a conventional Stat 101 course, but in a way  that puts data at the center.</p>
      
      <p>Use the menu items in the header to access:
      <ul>
        <li>Little Apps: Interactive statistics displays</li>
        <li>Instructor notes on topics in Stat 101</li>
        <li>Student-facing lessons that build on the Little Apps</li>
      </ul>
      
      
      </p>

    </div>
  </article>

  


</main>

{{ partial "footer.html" . }}