{{ partial "header.html" . }}


<main class="content" role="main">

  <article class="article">
    <h2>StatPREP Little App Activities</h2>
    <div class="article-content">
      
      <p>These are lessons and other resources for teaching a conventional Stat 101 course, but in a way  that puts data at the center.</p>
      
      <p>Use the menu items in the header to access:
      <ul>
        <li>Little Apps: Interactive statistics displays</li>
        <li>Instructor notes on <strong>topics</strong> in Stat 101. These generally encompass  more than one lesson.</li>
        <li>Student-facing <strong>activities</strong> that build on the Little Apps</li>
      </ul>
      </p>
      
      <p>At the bottom of each activity file is a link to an editable word-processing file containing the activity. Instructors who want to customize an activity can download this file via the link.</p>

    </div>
  </article>

<p>This site is best viewed in Chrome, Firefox, or Safari. Sorry Internet Explorer fans!</p>


</main>

{{ partial "footer.html" . }}