<nav class="nav">
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <!--img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}"-->
         <img src="images/StatPREP-lessons.png">
  </a>  <span class="nav-logo"></span>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>
